
.container{
    max-width: 1440px;
    width: 100%;
    padding: 0px 20px;
}

#main-header .et_menu_container{
    display: flex;
    flex-wrap: wrap;
}

#main-header .et_menu_container #et-top-navigation{
    padding: 0px !important;
}

#main-header #top-menu li{
    padding: 0px;
    width: 127px;
    text-align: center;
}

#main-header #top-menu{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    align-items: center;
}

#main-header #top-menu li > a{
    padding-bottom: 0px !important;
}