/* css footer */
.et_pb_gutters3 .footer-widget {
    margin: 0;
}

#footer-widgets .footer-widget li:before {
    display: none;
}

#footer-widgets .footer-widget li {
    padding-left: 0px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 400;
}

.et_pb_gutters3.et_pb_footer_columns6 .footer-widget {
    width: 16.6%;
}

#footer-widgets {
    padding: 40px 90px 0 90px;
    min-height: 240px;
}

.footer-widget h4 {
    margin: 0;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

#footer-bottom {
    min-height: 50px;
}

#main-footer #footer-info {
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    width: 100%;
    font-weight: bold;
}

#footer-bottom-left {
    float: left;
    width: 50%;
    text-align: left;
}

#footer-bottom-right {
    float: right;
    width: 50%;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    #footer-widgets {
        padding: 40px 0 0 40px;
        min-height: 240px;
    }
    #main-footer #footer-info {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 992px) {
    #footer-widgets {
        padding-left: 70px;
    }

    #main-footer .footer-widget h4 {
        font-size: 13px;
    }

    .et_pb_gutters3.et_pb_footer_columns6 .footer-widget {
        width: 33.2% !important;
        min-height: 180px;
        margin: 0px !important;
    }
}

@media screen and (max-width: 767px) {
    #footer-widgets {
        display: none;
    }

    #et-main-area #footer-bottom {
        background-color: #484848;
        min-height: 90px;
    }

    #footer-bottom-detail {
        display: flex;
        flex-direction: column-reverse;
    }

    #footer-bottom-left {
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 8px;
    }

    #footer-bottom-right {
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 8px;
    }
}

/* css page stellenangebot */


.et_pb_toggle {
    padding: 0;
    border: 0;
}

.et_pb_toggle.et_pb_toggle_close h5 {
    padding: 0 20px;
    margin: 0;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
}
.et_pb_toggle h5 {
    padding: 0 20px;
    margin: 0;
    min-height: 70px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
}

.et_pb_toggle .et_pb_toggle_title, .et_pb_toggle h5.et_pb_toggle_title, .et_pb_toggle.et_pb_text_align_left .et_pb_toggle_title, .et_pb_toggle.et_pb_text_align_left h5.et_pb_toggle_title {
    padding-left: 20px;
}

.et_pb_toggle_content {
    background-color: #E2E2E2;
    min-height: 200px;
    padding: 0 0 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.et_pb_toggle_content p:last-of-type {
    width: 60%;
    font-weight: 400;
    margin-bottom: 20px;
}

.toggle-content {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pdf-link {
    font-weight: 400;
    color: #C3112B;
}

.link-image {
    width: 35px;
}

.et_pb_toggle_title:before {
    font-family: FontAwesome !important;
    color: #000;
    content: "\f067";
    margin-right: 40px;
}

.et_pb_toggle_open .et_pb_toggle_title:before {
    content: "\f067";
    transform: rotate(45deg);
}
.et_pb_gutters3 .et_pb_column_3_4 .et_pb_module {
    margin: 0;
}

.et_pb_text>:last-child {
    margin-bottom: 35px;
}

.et_pb_toggle_0 {
    border-top: solid black 1px;
}

.signin-title {
    height: 140px;
    margin: 50px 0 35px 0;
}

.signin-title-img {
    float: left;
    height: 100%;
}

.signin-title-detail {
    width: 50%;
    float: left;
    height: 100%;
}

.signin-title-detail {
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signin-detail-name {
    font-size: 22px;
    font-weight: bold;
    color: #C3112B;
    padding: 0;
}

.signin-detail-text {
    font-size: 22px;
    font-weight: 400;
}
.et_pb_contact_field_4 .et_pb_contact_form_label{
    display: block;
    font-size: 16px;
    font-weight: 400;
}

#form-stellenangebot .et_pb_contact_field_4 textarea::-webkit-input-placeholder {
    color: transparent;
}

.et_pb_contact_field_5 .et_pb_contact_field_options_title {
    display: none;
}

.et_pb_with_border .et_pb_contact_field .et_pb_contact_field_4 {
    margin-bottom: 30px;
}

.et_pb_contact p input[type=checkbox]+label i {
    background-color: #EEEEEE;
    border: solid 0.1px;
    width: 13px;
    height: 13px;
}

.et_pb_contact_field_5.et_pb_contact_field .input[type=checkbox]+label {
    font-weight: 500;
}

.et-pb-contact-message {
    display: none;
}

.et_pb_contact_form_0.et_pb_contact_form_container.et_pb_module .et_pb_button {
    width: 150px;
    height: 40px;
}

.et_contact_bottom_container {
    text-align: center;
    width: 100%;
}
.et_pb_gutters3 .et_pb_column_3_4 {
    padding-bottom: 0px;
}

@media screen and (max-width: 991px) {
    .et_pb_contact .et_pb_contact_field_half {
        float: left;
        width: 100%;
    }
    #post-234 .et_pb_toggle_title {
        font-size: 16px ;
    }
    .et_pb_toggle_title:before {
        margin-right: 20px;
    }
    .signin-detail-name {
        font-size: 18px;
    }
    .signin-detail-text {
        font-size: 18px;
    }
    .et_pb_column {
        margin-bottom: 0;
    }
    .signin-title-detail {
        width: 41%;
    }
}

@media screen and (max-width: 767px) {
    .signin-title-img {
        height: auto;
        width: 100%;
    }
    .signin-title-detail {
        width: 100%;
        height: 80%;
        text-align: center;
        padding-left: 0;
    }
    .et_pb_toggle_title:before {
        font-size: 14px;
    }
    .et_contact_bottom_container {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 550px) {
    .et_contact_bottom_container {
        margin-bottom: 30px;
    }
}

/* css page Philosophie */

.philosophie-subNav {
    width: 25%;
    float: left;
}

.entry-content ul {
    padding-left: 40px;
}

.philosophie-ul li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 20px;
}

.philosophie-ul li a {
    color: #484848;
}

#philosophie-subNav-active a {
    color: #C3112B;
    font-weight: bold;
}

.philosophie-text {
    width: 75%;
    float: left;
    padding-right: 40px;
}

.philosophie-text-title h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
}
.philosophie-text-content {
    font-size: 13px;
}

.philosophie-text-content p{
    line-height: 21px;
}

.et_pb_image img {
    width: 100%;
    padding-right: 40px;
    margin-top: 140px;
}

@media screen and (max-width: 992px) {


    .philosophie-text {

        padding: 0 20px;
    }

    .entry-content ul {
        padding-left: 30px;
    }

    .et_pb_gutters3 .et_pb_column_3_4 .et_pb_gutters3.et_pb_row .et_pb_column_3_4 {
        width: 100%;
        padding-right: 0;
        padding-top: 60px;
        border-right: 0;
        padding-bottom: 30px;
    }

    .philosophie-text {
        padding: 0 20px;
    }
    .et_pb_image img {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .philosophie-text-title h1 {
        font-size: 25px;
    }

    .philosophie-subNav{
        width: 100%;
    }

    #left-area .philosophie-subNav .philosophie-ul{
        padding-left: 0px;
    }

    #left-area .philosophie-text{
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 551px) {
    .philosophie-text {
        padding: 0 10px;
    }

    .et_pb_image img {
        padding: 0px;
    }
}

/* css sidebar */

.et_pb_gutters3 .et_pb_column_1_4 .et_pb_widget {
    margin-bottom: 10px;
}

.quicklinks-post .item-slider-post {
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {

}

/* css page Geschichte */

.geschichte-text-title h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
}
.geschichte-text-content {
    font-size: 13px;
}

.geschichte-text-content-detail {
    padding-right: 20px;
}

.geschichte-text {
    width: 75%;
    float: left;
    padding-right: 20px;
}

.geschichte-timeline-title {
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
}

.geschichte-timeline-table tr td {
    border: none;
    vertical-align: top;
    padding: 8px 30px 8px 0;

}

.entry-content table {
    border: none;
}

@media screen and (max-width: 992px) {
    .geschichte-text {
        padding-left: 10px;
        padding-right: 0px;
    }

    .geschichte-text-content-detail{
        padding-right: 0px;
    }

    .et_pb_gutters3 .et_pb_column_3_4 {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 767px) {
    #et-boc .et_pb_gutters3 .et_pb_column_3_4 {
        width: 100%;
        padding: 40px 20px 0 20px;
        margin: 0;
        border-right: none;
    }

    .et_pb_row .et_pb_column.et_pb_column_1_4:last-child {
        padding: 0px 10px 0 10px !important;
    }

    .et_pb_image_0 {
        padding-bottom: 20px;
    }

    .geschichte-text{
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 551px) {

    .geschichte-text-title h1 {
        font-size: 25px;
    }

    #et-boc .et_pb_gutters3 .et_pb_column_3_4 {
        padding: 40px 10px 0 10px;
    }

    .geschichte-timeline-table tr td {
        padding-right: 20px;
    }
}
